@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *) or &:is([data-mode="production"] *));

@theme {
  /********** production **********/
  --color-midnight-black: #00040d;
  --color-espresso: #271b0f;
  --color-off-white: #f9f9f9;
  --color-light-gray: #c8c8c8;
  --color-charcoal-gray: #343434;
  --color-deep-black: #161616;
  --color-steel-gray: #616161;
  --color-orange: #ff7b07;
  /********** wedding **********/
  --color-ivory-white: #faf7f2;
  --color-linen-beige: #f3eee8;
  --color-brown: #5b4339;
  --color-light-brown: #796b62;
  --color-mocha-brown: #6d4e3c;
}

@theme inline {
  /********** Custom **********/
  /* fonts */
  --font-body: var(--font-manrope);
  /* color */
  --color-background-secondary: var(--background-secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-teritary: var(--text-teritary);
  /********** ShadCN **********/
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-neutral: var(--neutral);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /********** Custom **********/
  /* fonts */
  --font-primary: var(--font-cormorant-garamond);
  /* color */
  --background-secondary: var(--color-linen-beige);
  --text-primary: var(--color-brown);
  --text-secondary: var(--color-light-brown);
  /********** ShadCN **********/
  --radius: 0.625rem;
  --background: var(--color-ivory-white);
  --foreground: var(--color-brown);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-mocha-brown);
  --primary-foreground: var(--color-ivory-white);
  --secondary: var(--color-linen-beige);
  --secondary-foreground: var(--color-brown);
  --neutral: var(--color-white);
  --neutral-foreground: var(--color-brown);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* Animation */
  --duration-menu: 0.5s;
  --duration-fast: 0.3s;
  --duration-slow: 1.0s;
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

.dark, [data-mode="production"] {
  /********** Custom **********/
  /* fonts */
  --font-primary: var(--font-sora);
  /* color */
  --background-secondary: var(--color-espresso);
  --text-primary: var(--color-off-white);
  --text-secondary: var(--color-light-gray);
  --text-teritary: var(--color-charcoal-gray);
  /********** ShadCN **********/
  --background: var(--color-midnight-black);
  --foreground: var(--color-off-white);
  --card: var(--color-deep-black);
  --card-foreground: var(--color-off-white);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: var(--color-orange);
  --primary-foreground: var(--color-midnight-black);
  --secondary: var(--color-espresso);
  --secondary-foreground: oklch(0.985 0 0);
  --neutral: var(--color-off-white);
  --neutral-foreground: var(--color-midnight-black);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    font-family:
      var(--font-manrope),
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif;
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-primary), 'Cormorant Garamond', serif;
    @apply leading-tight font-black text-balance;
  }

  h1 {
    @apply text-4xl sm:text-[4rem];
  }

  h2 {
    @apply text-3xl sm:text-[3rem];
  }

  h3 {
    @apply text-2xl sm:text-4xl;
  }

  h4 {
    @apply text-xl sm:text-3xl;
  }

  address {
    font-style: normal;
  }

  .hero-overlay {
    @apply bg-gradient-to-b from-background/70 via-background/40 to-background/75;
  }
}
